node_modules/
package-lock.json
yarn-error.log
build
.yarn
.task/
dist/

# Hass Dev
.hass_dev/*
!.hass_dev/configuration.yaml
!.hass_dev/lovelace.yaml
!.hass_dev/lovelace-showcase.yaml
!.hass_dev/lovelace.yaml
!.hass_dev/automations.yaml
!.hass_dev/scripts.yaml
!.hass_dev/scenes.yaml
!.hass_dev/views
!.hass_dev/www
!.hass_dev/packages
.hass_dev/www/community/*